.search-container {
    position: relative;
    display: inline-block;
    margin-top: 10px;
  }
  
  input[type="text"] {
    padding-right: 30px; 
  }
  
  .search-button {
    position: absolute;
    right: 5px; 
    top: 50%;
    transform: translateY(-50%);
   
  }