.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.items-per-page {
  display: inline-block;
  margin-left: 20px; /* Adjust this value as needed */
}

.items-per-page input {
  width: 50px; /* Adjust the width as needed */
}
